/* ---------------- */
/* Custom properties */
/* ---------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* ---------------- */
/* Reset */
/* ---------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;

  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------- */
/* Utility classes */
/* ---------------- */

.hidden {
  display: none;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-container {
  display: flex;
  /* padding: 16.125rem 10.1875rem 20rem 8.6875rem; */
  width: 78%;
  margin: 0 auto;
  padding-bottom: 4rem;
  gap: var(--gap, 3rem);
  border: 2px solid yellow;
}

.flex-container--home {
  align-items: flex-end;
  justify-content: space-between;
}

.flex-container > * {
  border: 2px solid cyan;
  flex-basis: 100%;
}

.flex-column-direction {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.gap-space-medium {
  gap: 4rem;
}

.flex-container * {
  max-width: 50ch;
}

@media (max-width: 45em) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
}

/* Accessibility purposes. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

/* ---------------- */
/* Compontents      */
/* ---------------- */

.large-button {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white) / 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* primary-header */

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  border: 2px solid greenyellow;
}

.primary-navigation {
  --underline-gap: 2rem;
  --gap: clamp(2rem, 5vw, 6rem);
  list-style: none;
  /* padding: 0; */
  margin-block: 2rem;
  background-color: hsl(var(--clr-white) / 0.05);
  backdrop-filter: blur(1.5rem);

  padding-inline: clamp(3rem, 5vw, 10rem);
  border: 2px solid greenyellow;
}

.primary-header {
  align-items: center;
  justify-content: space-between;

  border: 2px solid orangered;
}

.primary-header::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  margin-right: -2.5rem;
  background: hsl(var(--clr-white) / 0.3);
  order: 1;
}

nav {
  order: 2;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

@supports not (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    background-color: hsl(var(--clr-dark) / 0.95);
  }
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 100;
    flex-direction: column;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
    transition: all 0.5s ease-in;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    transition: background-image 0.5s ease;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
    transition: background-image 0.5s ease;
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation {
    margin: 0;
  }

  .primary-navigation span {
    display: none;
  }
}

.underline-indicators > * {
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
}

.underline-indicators > li:hover,
.underline-indicators > button:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

.tab-list {
  flex-wrap: wrap;
  --gap: 2rem;
}

.tab-list > button {
  background-color: transparent;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators > button:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}

.number-btn {
  /* position: relative; */
  z-index: 1;
  display: flex;
  /* align-items: center; */

  place-items: center;
  padding: 0 1.5em;
  border-radius: 50%;
  border: solid hsl(var(--clr-white) / 0.5) 0.01rem;

  background: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  aspect-ratio: 1;
  transition: all 300ms ease-in-out;
}

.number-btn span {
  display: block;
  width: 1ch;
}

/* .number-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

  border: solid white 1rem;
  border-radius: 50%;
  opacity: 0;
   */
/* } */

.number-btn:hover,
.number-btn:focus {
  opacity: 1;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  border: 0;
}

/* ------------------------ */
/* Page specific background */
/* ------------------------ */

body {
  background-size: cover;
  background-position: bottom center;
}

.home {
  border: 2px solid red;
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-position: center;
  /* background-size: 100% 100%; */

  justify-content: space-between;
  padding-bottom: max(6rem, 14vh);
}

.explore-btn--home {
  border: 2px solid darkorange;
  /* padding-top: 20rem; */
}

/* .flex-container--home > *:first-child {
} */

.flex-container--home > *:last-child {
  flex-basis: 20%;
}

@media (max-width: 45rem) {
  .home {
    background-position: bottom center;
    background-image: url(./assets/home/background-home-tablet.jpg);
  }

  .flex-container--home {
    height: 60vh;
  }

  .flex-container--home .flex {
    --gap: 0;
  }

  .flex-container--home > *:last-child {
    flex-basis: 100%;
  }
}

@media (max-width: 35rem) {
  .home {
    background-image: url(./assets/home/background-home-mobile.jpg);
  }

  .flex-container--home > *:last-child {
    width: 50%;
  }
}

/* ---------------- */
/* Destination      */
/* ---------------- */

.destination {
  background-position: center center;
  background-image: url(./assets/destination/background-destination-tablet.jpg);
}

.destination-meta p {
  font-size: 1.75rem;
}

.flex-container--destination {
  width: 100%;
  margin-top: 3rem;
  align-items: flex-end;
  justify-content: center;
  gap: clamp(2rem, 5vw, 10rem);
  --flow-space: 1.2rem;
}

.destination-img-box {
  border: 2px solid cyan;
  flex-basis: 60%;
}

.destination-info {
  border: 2px solid cyan;
  flex-basis: 40%;
}

.destination-meta {
  --gap: min(5vw, 5rem);
  border-top: 1px solid hsl(var(--clr-white) / 0.1);
  padding-top: 1.5rem;
  margin-top: 2.5rem;
}

.destination-img-box > picture {
  margin-top: 3rem;
  padding-left: min(5vw, 4rem);
  max-width: 100%;
}

@media (max-width: 45em) {
  .destination {
    background-position: bottom center;
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }

  .flex-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .destination-info {
    align-items: center;
  }

  .destination-meta {
    justify-content: center;
  }

  .numbered-title {
    position: absolute;
    left: 5%;
  }
}

@media (max-width: 35em) {
  .destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
  }

  .primary-header::after {
    display: none;
  }
}

/* ---------------- */
/* Crew             */
/* ---------------- */

.crew {
  background-position: center center;
  background-image: url(./assets/crew/background-crew-desktop.jpg);
}

.flex-container--crew {
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  margin-top: 2.4rem;
  padding-bottom: 0;
}

.crew-img-box--small {
  display: none;
}

.crew-info {
  gap: 7rem;
}

.crew-details {
  padding-top: 3rem;
}

.crew-details h2 {
  color: hsl(var(--clr-white) / 0.25);
}

.crew-imgs {
  align-self: end;
}

.crew-imgs > picture {
  max-width: 100%;
}

@media (max-width: 45em) {
  .crew {
    background-position: bottom center;
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }

  .flex-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .crew-info {
    align-items: center;
  }

  .numbered-title {
    position: absolute;
    left: 5%;
  }

  .crew-info {
    gap: 3rem;
  }
}

@media (max-width: 35em) {
  .numbered-title {
    position: relative;
  }

  .crew {
    background-image: url(./assets/crew/background-crew-mobile.jpg);
  }

  .crew-imgs > picture {
    display: none;
  }

  .crew-img-box--small {
    display: block;
    padding-top: 2rem;
  }

  .crew-img-box--small > picture {
    border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
    padding-inline: 3rem;
  }

  .crew-details {
    padding-top: 0;
    order: 3;
  }

  .crew-info .dot-indicators {
    order: 2;
  }

  .flex-container * {
    max-width: 40ch;
  }
}

/* ---------------- */
/* Technology       */
/* ---------------- */

.flex-container--technology {
  width: 100%;
  gap: min(8vw, 9rem);
  justify-content: flex-end;
  /* align-items: center; */
  padding-block: 2rem;
}

.technology-header {
  gap: 7rem;
  max-width: 45vw;
}

.technology-header * {
  max-width: 65ch;
}

.technology-details p {
  max-width: 48ch;
}

.technology-info {
  gap: 2.5rem;
}

.technology-details .technology-img {
  margin-top: 4rem;
}

.technology-images-small {
  display: none;
}

.technology-img > picture {
  /* align-self: flex-end; */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

@media (max-width: 67.5em) {
  .flex-container--technology * {
    max-width: 100%;

    text-align: center;
  }

  .numbered-title {
    position: absolute;
    left: 5%;
  }

  .flex-container--technology {
    gap: 1rem;

    flex-direction: column;
    align-items: center;
  }

  .technology-header {
    gap: 3rem;
  }

  .technology-info {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .technology-info .button-indicators {
    flex-direction: row;
    align-items: center;
  }

  .number-btn {
    margin-top: 0;
  }

  .technology-img {
    display: none;
  }

  .technology-images-small {
    display: block;
    padding-top: 4rem;
  }

  .technology-info {
    flex-direction: column;
  }
}

@media (max-width: 35em) {
  .technology-details p {
    padding-inline: 1rem;
  }
}
